
.dark {
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  /* display: none; */
  width: 0px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
    /* 颜色 */
    /* background:#b6b6b6!important; */
    /* 线性渐变背景 */
    background-color: rgba(0, 0, 0, 0.2); 
}